<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>SmartLocation</title>

    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xxb3f8774f65d5447e8393e7aaa0d17e74"></script>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

	var map,marker;
	var label;

	// 페이지가 로딩이 된 후 호출하는 함수입니다.
	function initTmap(){

		var lat01 = /*[[${gpslat01.latitude}]]*/;
	    var lng01 = /*[[${gpslng01.longtitude}]]*/;

	    var lat02 = /*[[${gpslat02.latitude}]]*/;
	    var lng02 = /*[[${gpslng02.longtitude}]]*/;


		// map 생성
		// Tmap.map을 이용하여, 지도가 들어갈 div, 넓이, 높이를 설정합니다.
		map = new Tmapv2.Map("map_div", {
			center : new Tmapv2.LatLng(35.501546, 129.371504), // 지도 초기 좌표
			width : "100%", // 지도의 넓이
			height : "400px", // 지도의 높이
			zoom : 13
		});

		var positions = [//다중 마커 저장 배열
			{
 				title: 'ID 1',
 				lonlat: new Tmapv2.LatLng(lat01, lng01)//좌표 지정
 			},
 			{
 				title: 'ID 2',
 				lonlat: new Tmapv2.LatLng(lat02, lng02)//좌표 지정
 			},
 			{
 				title: 'ID 3',
 				lonlat: new Tmapv2.LatLng(35.505654, 129.401595)//좌표 지정
 			},
 			{
 				title: 'ID 5',
 				lonlat: new Tmapv2.LatLng(35.541607, 129.360750)//좌표 지정
 			},
 			{
 				title: 'ID 6',
 				lonlat: new Tmapv2.LatLng(35.513713, 129.273664)//좌표 지정
 			}
		];


		markerstop = new Tmapv2.Marker({
		        position: new Tmapv2.LatLng(35.472096, 129.283282),
				icon: "../assets/img/stop.png", //Marker의 아이콘.
				map : map, //Marker가 표시될 Map 설정.
				title : "ID 4", //Marker 타이틀.
			    width : "42px", // 지도의 넓이
			    height : "42px",
				label : "ID 4" //Marker의 라벨.
			});

		for (var i = 0; i< positions.length; i++){//for문을 통하여 배열 안에 있는 값을 마커 생성
			var lonlat = positions[i].lonlat;
			var title = positions[i].title;
			label="<span style='background-color: #46414E;color:white'>"+title+"</span>";
			//Marker 객체 생성.
			marker = new Tmapv2.Marker({
				position : lonlat, //Marker의 중심좌표 설정.
				icon: "http://tmapapi.sktelecom.com/resources/images/common/pin_car.png", //Marker의 아이콘.
				map : map, //Marker가 표시될 Map 설정.
				title : title, //Marker 타이틀.
				label : label //Marker의 라벨.
			});


		}
	}
	/*]]>*/
</script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

</head>


<body class="sb-nav-fixed" onload="initTmap()">


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Smart Location</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
     Navbar Search
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">

<!--        <div class="input-group">-->
<!--            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />-->
<!--            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>-->
<!--        </div>-->
    </form>
     Navbar


    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">울산항  <i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Settings</a></li>
                <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#!">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="/">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="/basic/members">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        기사관리
                    </a>

                </div>
            </div>

        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
<!--                <h1 class="mt-4">Dashboard</h1>-->
<!--                <ol class="breadcrumb mb-4">-->
<!--                    <li class="breadcrumb-item active">Dashboard</li>-->
<!--                </ol>-->

<br>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-3">
                            <div class="card-body"><h1>&nbsp&nbsp 12</h1></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <h3 class="small text-white stretched-link">현재차량수</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-3">
                            <div class="card-body"><h1>&nbsp&nbsp 3</h1></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <h3 class="small text-white stretched-link">중단차량수</h3>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-3">
                            <div class="card-body"><h1>&nbsp&nbsp 15</h1></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <h3 class="small text-white stretched-link">전체차량수</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6">
                        <img src="../assets/img/rain.PNG" width="100%"/>
                    </div>

<!--                    <div class="col-xl-3 col-md-6">-->
<!--                        <div class="card bg-primary text-white mb-4">-->
<!--                            <div class="card-body"><h1>27</h1></div>-->
<!--                            <div class="card-footer d-flex align-items-center justify-content-between">-->
<!--                                <a class="small text-white stretched-link" href="#">test</a>-->
<!--                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>






                <div id="map_div"></div>
<br>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                주간출입차량
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="50"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-pie me-1"></i>
                                취급화물현황
                            </div>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        실시간 화물 위치정보
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>상태</th>
                                <th>화물종류</th>
                                <th>위도</th>
                                <th>경도</th>
                                <th>timestamp</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>상태</th>
                                <th>화물종류</th>
                                <th>위도</th>
                                <th>경도</th>
                                <th>timestamp</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="lista : ${lista}">
                                <td th:text="${lista.userID}"></td>
                                <td th:text="${lista.state}"></td>
                                <td th:text="${lista.type}"></td>
                                <td th:text="${lista.latitude}"></td>
                                <td th:text="${lista.longtitude}"></td>
                                <td th:text="${lista.timestamp}"></td>
                            </tr>
                            </tbody>
                        </table>



                    </div>
                </div>
            </div>







        </main>
<!--        <footer class="py-4 bg-light mt-auto">-->
<!--            <div class="container-fluid px-4">-->
<!--                <div class="d-flex align-items-center justify-content-between small">-->
<!--                    <div class="text-muted">Copyright &copy; Your Website 2022</div>-->
<!--                    <div>-->
<!--                        <a href="#">Privacy Policy</a>-->
<!--                        &middot;-->
<!--                        <a href="#">Terms &amp; Conditions</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->


    </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
<script src="assets/demo/chart-pie-demo.js"></script>
<script>
var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: ["컨테이너", "액체화학", "원유", "기타"],
    datasets: [{
      data: [12.21, 15.58, 11.25, 8.32],
      backgroundColor: ['#007bff', '#dc3545', '#ffc107', '#28a745'],
    }],
  },
});
</script>


<script>
var ctx = document.getElementById("myAreaChart");
var myLineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["Oct 1", "Oct 2", "Oct 3", "Oct 4", "Oct 5", "Oct 6", "Oct 7"],
    datasets: [{
      label: "Sessions",
      lineTension: 0.3,
      backgroundColor: "rgba(2,117,216,0.2)",
      borderColor: "rgba(2,117,216,1)",
      pointRadius: 5,
      pointBackgroundColor: "rgba(2,117,216,1)",
      pointBorderColor: "rgba(255,255,255,0.8)",
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(2,117,216,1)",
      pointHitRadius: 50,
      pointBorderWidth: 2,
      data: [200, 120, 86, 180, 232, 150, 160],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 7
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: 300,
          maxTicksLimit: 5
        },
        gridLines: {
          color: "rgba(0, 0, 0, .125)",
        }
      }],
    },
    legend: {
      display: false
    }
  }
});
</script>


</body>
</html>




<!--<li>th:text 사용 <span th:text="${gpsl}"></span></li>-->
<!--<li>컨텐츠 안에서 직접 출력하기 = [[${gpsl}]]</li>-->

